/* Cores base */
:root {
    --primary-color: #1e3a8a; 
    --secondary-color: #3B82F6; 
    --background-light: #f0f0f0; 
    --text-dark: #181818; 
    --text-light: #ffffff; 
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    --tercery-color: #0061c9; 
    --quartary-color: #004a99;
    --card-background: #e0e0e0; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--background-light);
    color: var(--text-dark);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 5px 2%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.copyright {
    text-align: center;
    padding: 30px 5%;
    background-color: var(--primary-color);
    color: var(--text-light);
    font-size: 0.9em;
}

.copyrightLogin {
    text-align: center;
    padding: 40px 5%;
    background-color: var(--primary-color);
    color: var(--text-light);
    font-size: 0.9em;
}

.copyrightHistorico {
    text-align: center;
    padding: 40px 5%;
    background-color: var(--primary-color);
    color: var(--text-light);
    font-size: 0.9em;
    margin-top: 530px;
}

.HistoricoBottom{
    margin-top: 40px;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    font-size: 50px;
    letter-spacing: 1.5px;
}

.logoPng{
    margin-right: 2px;
    size: 10px;
    width: 100px;
}

.logo strong {
    color: var(--text-light);
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: var(--secondary-color);
}

nav a:hover {
    background-color: var(--tercery-color);
    color: var(--text-light);
}  

nav a:hover {
    background-color: var(--tercery-color);
}

nav a i {
    margin-right: 5px;
}

main {
    padding: 30px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: var(--secondary-color);
    margin-bottom: 25px;
    font-size: 2em;
}

h2 {
    color: var(--secondary-color);
    margin-bottom: 25px;
    font-size: 1.5em;
    padding-right: 15px;
}

.search-bar {
    display: flex;
    margin-bottom: 30px;
}

#searchInput {
    flex-grow: 1;
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 8px 0 0 8px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s;
}

#searchInput:focus {
    border-color: var(--primary-color);
}

.search-bar button {
    padding: 12px 25px;
    background-color: var(--tercery-color);
    color: var(--text-light);
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: var(--quartary-color);
}

.cargas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card-carga {
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
    border-left: 5px solid var(--primary-color);
    margin-bottom: 20px;
}

.card-carga:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-carga h3 {
    color: var(--secondary-color);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.card-carga h3 i {
    margin-right: 8px;
    color: #007bff;
}

.card-carga p {
    margin-bottom: 8px;
    font-size: 0.95em;
}

.card-carga .origem-destino {
    font-weight: bold;
    color: var(--text-dark);
}

.card-carga .valor {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--secondary-color);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 0;
    border-top: 1px dashed #4a4a4a;
    border-bottom: 1px dashed #4a4a4a;
}

.valor{
    text-align: center;
    color: var(--primary-color);
}

.card-carga button {
    width: 100%;
    padding: 10px;
    background-color: var(--tercery-color);
    color: var(--text-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card-carga button:hover {
    background-color: var(--quartary-color);
}

#loading-message {
    grid-column: 1 / -1;
    text-align: center;
    font-style: italic;
    color: var(--primary-color);
    padding: 40px;
}

.popup {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    background-color: var(--secondary-color);
    color: var(--text-light);
    padding: 12px 20px;
    border-radius: 25px;
    box-shadow: var(--card-shadow);
    font-weight: bold;
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
    z-index: 1000;
}

.popup.visible {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.User {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: left;
}

.User.Usuario {
    color: var(--primary-color);
}

.LoginCointainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px 0;
}

.CaixaDeLogin{
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    border-left: 5px solid var(--primary-color);
    box-shadow: var(--card-shadow);
    width: 200%;
    max-width: 550px;
}

.CaixaDeLogin input.Usuario{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:20px;
    border-radius:5px;
    border:1px solid var(--secondary-color);
}

.CaixaDeLogin input[type="text"]{
    width: 80%;
    border: 2px solid var(--secondary-color);
    display: block;
    margin: 2px auto 20px; color: var(--text-dark);
    font-size: 18px;
}

.CaixaDeLogin input[type="text"]:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.CaixaDeLogin input[type="password"]{
    width: 80%;
    border: 2px solid var(--secondary-color);
    display: block;
    margin: 2px auto 20px; color: var(--text-dark);
    font-size: 18px;
}

.CaixaDeLogin input[type="password"]:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.BotãoDoLogin{
    width:50%;
    padding:10px;
    background: var(--tercery-color);
    border:none;
    color:white;
    font-size:16px;
    font-weight: bold;
    border-radius:5px;
    cursor:pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input.Usuario{
    border-radius: 5px;
}

.BotãoDoLogin:hover{
    background: var(--quartary-color);
    transform: translateY(-2px) scale(1.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.TituloLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#InputText {
    display: flex;
    margin-bottom: 30px;
}

.H2User{
    justify-content: center;
    text-align: center;

}

.BotãoDeEsquecer{
    width:50%;
    padding:10px;
    padding-top: 25px;
    background: transparent;
    color: var(--text-dark);
    font-size:16px;
    font-weight: bold;
    cursor:pointer;
    transition: all 0.3s ease;
    border-color: transparent;
}

.BotãoDeEsquecer:hover{
    transform: translateY(-2px) scale(1.02);
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.BotãoDeApagar{
    width:50%;
    padding:10px;
    background: var(--tercery-color);
    border:none;
    color:white;
    font-size:16px;
    font-weight: bold;
    border-radius:5px;
    cursor:pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin:20px auto;
}

.BotãoDeApagar:hover{
    background:#0056b3;
    transform: translateY(-2px) scale(1.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.botao-container{
display:flex;
justify-content:center;
}

.add-carga-form {
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    border-left: 5px solid var(--primary-color);
    max-width: 600px;
    margin: 0 auto;
}

.add-carga-form h2 {
    color: var(--secondary-color);
    margin-bottom: 20px;
    text-align: center;
}

.add-carga-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.add-carga-form input, .add-carga-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1em;
}         

.add-carga-form input:focus, .add-carga-form select:focus {
    border-color: var(--primary-color);
    outline: none;
}

.add-carga-form button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--text-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s;
}   

.add-carga-form button:hover {
    background-color: var(--tercery-color);
}

.success-message {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.2em;
    margin-top: 20px;
}      

.add-carga-form .error-message {
    text-align: center;
    color: #E74C3C;
    font-size: 1.2em;
    margin-top: 20px;
}      

.add-carga-form .error-message ul {
    list-style-type: none;
    padding-left: 0;
}   

.add-carga-form .error-message ul li {
    margin-bottom: 5px;
}   

.add-carga-form .error-message ul li::before {
    content: "• ";
    color: #E74C3C;
}

.remover-btn{
    margin-top: 8px;
}

#LoginSucesso {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.2em;
    margin-top: 20px;
}

.message{
    text-align: center;
    color: var(--primary-color);
    font-size: 1.2em;
    margin-top: 20px;
}